@{
    ViewData["Title"] = "one";
    Layout = "~/Views/Default/MasterPage.cshtml";
}
<style>
    .mb1 {
        margin-bottom: 1px;
    }
    #btCrd {
        border: 1px solid;
        padding: 0px 11px;
        background-color: #FFA151;
    }
    ul#crdParent li:nth-child(even) {
        background-color: #F5F5F5;
    }
    .crdPadding {
        padding: 8px 15px;
    }
    .pa-1 {
        padding: 0px 0px 0px 10px !important;
    }
    .salary-detail {
        font-size: 17px;
        font-weight: 100;
    }

    .gross-salary {
        color: cornflowerblue;
    }

    .detail {
        color: cornflowerblue;
    }

    .variable-salary {
        color: red;
    }

    .deduction-salary {
        color: orange
    }

    .net-salary {
        color: #0000008f;
    }

    .less {
        color: #37f9b7;
    }

    .epf {
        color: red;
    }

    .esic {
        color: orange;
    }

    .tds {
        color: #01bd01;
    }

    .net-salary {
        color: #255424;
    }


    .tec_card {
        border-radius: 7px;
        box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.2);
    }
 
    .RadialChart {
        border-radius: 7px;
        border: 1px solid rgba(0, 0, 0, 0.125);
      
    }
    .tec_card-body_Salary {
        background-color: white;
        border: 1px solid #D9D9D9;
        border-radius: 7px;
        padding: ;
    }
    .tec_card-body {
        padding: 2rem 1rem;
        
    }
    .tec_card-body_Deduction {
      
        padding: 2rem 2rem;
    }
</style>





<body onload=" RadialChart(); StackkChart();">
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 Atten mt-2">
                    <h1 class="mb-0">Salary Overview</h1>
                </div>
                <div class="col-12 col-sm-6 text-end mb-0 mt-2">
                    <h2>Rajesh Patel</h2>
                    <p class="mb-2">Sr. Project Manager</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid timeline-container aa">
            <div class="row">
                <div class="col-12 col-sm-1 position-relative pe-sm-0 ps-2">
                    <div class="row">
                        <div class="col-3 prev-btn pe-2">
                            <span class="fa fa-angle-left"></span>
                        </div>
                        <div class="col-9 col-sm-9 col-lg-9 timeline-item-Month">
                            <select id="year-select" onchange="changeMonth();" class="form-select p-0 ps-3">
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <!-- Add more years as needed -->
                            </select>
                            <span class="d-block text-center" id="current-month-year" style="font-weight:bold; color:white;"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-10 pe-sm-0 ps-sm-5">
                    <div>
                        <div class="row timeline-list ps-2" id="timeline-list"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-1 ps-sm-5">
                    <div class="row">
                        <div class="col-12 next-btn">
                            <span class="fa fa-angle-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*============================================================================screen===============================================================================*@
        <div class="container-fluid mt-2">
            <h4 class="month-salary">Jun 2023 <span class="salary-detail"><i>cutoff from 01 June 2023 to 30 June 2023</i></span></h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="tec_card">
                        <div class="tec_card-body">
                            <div class="row">
                                <div class="col-sm-4 text-center">
                                    <h5 class="gross-salary mb-2"><i>Gross Salary</i></h5>
                                    <h4 class="salary mt-4 mb-4"><i>90,000</i></h4>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <h5 class="variable-salary mb-2"><i>Add: Variable Salary</i></h5>
                                    <h4 class="salary mt-4 mb-4"><i>2,000</i></h4>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <h5 class="deduction-salary mb-2"><i>Deduction</i></h5>
                                    <h4 class="salary  mt-4  mb-4"><i>2,000</i></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 pe-3">
                    <div class="tec_card">
                        <div class="tec_card-body text-center">
                            <h5 class="net-salary mb-3"><i>NET SALARY</i></h5>
                            <h3 class="net-salary mt-2 mb-4 "><i>1,50,000</i></h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <div class="col-sm-12 responsive" id="RadialparentDiv"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="tec_row mt-2">
                <h4>Deduction Summary</h4>
                <div class="tec_col-sm-8 ">
                    <div class="tec_card">
                        <div class="tec_card-body_Deduction">
                            <div class="tec_row ">
                                <div class="tec_col-sm-3 text-start ">
                                    <h5 class="less mb-2 ps-4"><i>Less: PT</i></h5>
                                    <h4 class="salary mt-5 mb-0 ps-4"><i>90,000</i></h4>
                                </div>
                                <div class="tec_col-sm-3 text-center">
                                    <h5 class="epf  mb-2"><i>EPF</i></h5>
                                    <h4 class="salary mt-5 mb-0"><i>1,246</i></h4>
                                </div>
                                <div class="tec_col-sm-3 text-center">
                                    <h5 class="esic mb-2"><i>ESIC</i></h5>
                                    <h4 class="salary mt-5 mb-0"><i>2,000</i></h4>
                                </div>
                                <div class="tec_col-sm-3 text-center mb-4">
                                    <h5 class="tds mb-2"><i>TDS DEDUCTION</i></h5>
                                    <h4 class="salary mt-5 mb-0 ps-2"><i>40,000</i></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tec_col-sm-4">
                    <div class="tec_card crdPadding">
                        <h4>Pay Slips</h4>
                        <p class="d-flex justify-content-between col-sm-7 mb1">
                            <span class="fs-20">Title</span>
                            <span class="fs-20">Date</span>
                        </p>
                        <div>
                            <ul id="crdParent">
                                <li class="d-flex justify-content-between ps-2 pe-2">
                                    <p class="Approve">Dec</p>
                                    <p class="Approve">Dec 01,2023</p>
                                    <p class="Approve"><a href="#" id="btCrd">View</a></p>
                                </li>
                                <li class="d-flex justify-content-between ps-2 pe-2">
                                    <p class="Approve">Nov</p>
                                    <p class="Approve">Nov 01,2023</p>
                                    <p class="Approve"><a href="#" id="btCrd">View</a></p>
                                </li>
                                <li class="d-flex justify-content-between ps-2 pe-2">
                                    <p class="Approve">Oct</p>
                                    <p class="Approve">Oct 01,2023</p>
                                    <p class="Approve"><a href="#" id="btCrd">View</a></p>
                                </li>
                                <li class="d-flex justify-content-between ps-2 pe-2">
                                    <p class="Approve">Sept</p>
                                    <p class="Approve">Sept 01,2023</p>
                                    <p class="Approve"><a href="#" id="btCrd">View</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="tec_row mt-3">
                <div class="tec_col-sm-8 mb-0">
                    <div class="tec_col-sm-12 tec_card">
                        <div id="StackparentDiv" class="col-sm-12 mb-2"></div>
                    </div>
                </div>
                <div class="tec_col-sm-4">
                    <div class="tec_card">
                        <div class="tec_card-body_Salary">
                            <h4 class="tec_mt-2 ps-3">Salary Structure</h4>
                            <div class="tec_row ps-3">
                                <div class="tec_col-sm-6">
                                    <p class="car-titl title"><i>Grade:</i></p>
                                </div>
                                <div class="tec_col-sm-6">
                                    <p class="card-textli fs-15 text-start"><i>SE-II</i></p>
                                </div>
                            </div>
                            <div class="row ps-3 mt-2">
                                <div class="tec_col-sm-6">
                                    <p class="car-titl title"><i>Effective Date:</i></p>
                                </div>
                                <div class="tec_col-sm-5">
                                    <p class="card-textli fs-15 text-start"><i>01-Apr-2023</i></p>
                                </div>
                            </div>
                            <div class="row ps-3 mt-2">
                                <div class="tec_col-sm-6">
                                    <p class="car-titl title"><i>Gross Salary:</i></p>
                                </div>
                                <div class="tec_col-sm-6">
                                    <p class="card-textli fs-15 text-start"><i>15,000</i></p>
                                </div>
                            </div>
                            <div class="tec_row ps-3 mt-2">
                                <div class="tec_col-sm-6">
                                    <p class="car-titl title"><i>Less PT:</i></p>
                                </div>
                                <div class="tec_col-sm-6">
                                    <p class="card-textli fs-15 text-start"><i>200</i></p>
                                </div>
                            </div>
                            <div class="tec_row ps-3 mt-2">
                                <div class="tec_col-sm-6">
                                    <p class="car-titl title"><i>Add: Variable</i></p>
                                </div>
                                <div class="tec_col-sm-6">
                                    <p class="card-textli fs-15 text-start"><i>1,500</i></p>
                                </div>
                            </div>
                            <div class="tec_row ps-3 mt-2 mb-1 mb-0">
                                <div class="tec_col-sm-6">
                                    <p class="car-titl title"><i>Net Payable Salary:</i></p>
                                </div>
                                <div class="tec_col-sm-6">
                                    <p class="card-textli fs-15 text-start"><i>16,500</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



</body>

<script>
    $(document).ready(function () {
        // Timeline date picker slider scroller
        var move = "255px";
        var activeLeftPosition = $("div.active").val() !== undefined
            ? (activeLeftPosition = $("div.active").position().left)
            : (activeLeftPosition = 0);
        var activeWidth = $("div.active").width();
        var listWidth = $(".timeline-list").width();
        var center = activeLeftPosition + activeWidth / 2 - listWidth / 2;

        // On page load, center active div
        $(".timeline-list").animate({ scrollLeft: center }, "slow");

        $("div.active")
            .next("div.timeline-item")
            .css("border-left-width", "0");

        $(".prev-btn").click(function () {
            $(".timeline-list").animate({ scrollLeft: "-=" + move }, "slow");
        });

        $(".next-btn").click(function () {
            $(".timeline-list").animate({ scrollLeft: "+=" + move }, "slow");
        });
    });

    function changeMonth() {
        // Get the selected year from the dropdown
        const yearSelect = document.getElementById('year-select');
        const selectedYear = parseInt(yearSelect.value);

        const currentDate = new Date();
        const currentYear = currentDate.getFullYear();
        const currentMonth = currentDate.getMonth();

        // Clear the existing timeline items
        const timelineList = document.getElementById('timeline-list');
        timelineList.innerHTML = '';

        // Generate new timeline items for each month in the selected year
        for (let month = 0; month < 12; month++) {
            const monthName = getMonthName(month);

            const timelineItem = document.createElement('div');
            timelineItem.classList.add('col-3', 'col-sm-2', 'col-lg-1', 'timeline-item');

            const timelineDate = document.createElement('a');
            timelineDate.href = '#';
            timelineDate.classList.add('timeline-date');

            const monthElement = document.createElement('span');
            monthElement.classList.add('d-block');
            monthElement.innerHTML = `<strong>${monthName}</strong>`;

            const yearElement = document.createElement('span');
            yearElement.classList.add('d-block');
            yearElement.innerHTML = selectedYear;

            timelineDate.appendChild(monthElement);
            timelineDate.appendChild(yearElement);
            timelineItem.appendChild(timelineDate);
            timelineList.appendChild(timelineItem);

            if (selectedYear === currentYear && month === currentMonth) {
                timelineItem.classList.add('active');
            }
        }

        // Update the displayed month and year
        const currentMonthName = getMonthName(currentMonth);
        document.getElementById('current-month-year').textContent = `${currentMonthName} `;
        document.getElementById('current-year').textContent = `${selectedYear}`;
    }

    function getMonthName(month) {
        const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return monthNames[month];
    }

    $(document).ready(function () {
        // Set the current year
        const currentYear = new Date().getFullYear();
        document.getElementById('current-month-year').textContent = `${getMonthName(new Date().getMonth())} ${currentYear}`;
        $('#year-select').val(currentYear);

        changeMonth();
    });
</script>
<script>
    var arry = [];
    var working, EL, SL, touring, wfh, unpaid;
    function RadialChart() {
        arry = []
        var JSONdata = '{"data":[{"working":"20","EL":"2","SL":"1","touring":"2","wfh":"1","unpaid":"0"}]}';
        var viewData = JSON.parse(JSONdata).data;
        for (var i = 0; i < viewData.length; i++) {
            working = viewData[i].working;
            EL = viewData[i].EL;
            SL = viewData[i].SL;
            touring = viewData[i].touring;
            wfh = viewData[i].wfh;
            unpaid = viewData[i].unpaid;
            arry.push({ working, EL, SL, touring, wfh, unpaid });
        }
        radialChart("RadialparentDiv", "childRadialr", arry, 'right', "300", "280");
    };
</script>
<script>
    var arry = [];
    var working, EL, SL, touring, wfh, unpaid, holiday, date;
    function StackkChart() {
        arry = []
        var JSONdata = `{"data":[{"working":"8.30","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"01/04/2023"},
{"working":"7.30","EL":"1.30","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"02/04/2023"},{"working":"6:30","EL":"0","SL":"02:30","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"03/04/2023"},{"working":"00","EL":"0","SL":"0","touring":"8.30","wfh":"0","unpaid":"0","holiday":"0","date":"04/04/2023"},{"working":"6.30","EL":"0","SL":"0","touring":"2.30","wfh":"0","unpaid":"0","holiday":"0","date":"05/04/2023"},{"working":"0","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"8.30","holiday":"0","date":"06/04/2023"},{"working":"6.00","EL":"1.00","SL":"1.00","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"07/04/2023"},{"working":"00","EL":"0","SL":"8.30","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"08/04/2023"},{"working":"8.30","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"09/04/2023"},{"working":"0","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"8.30","date":"10/04/2023"},{"working":"8.30","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"11/04/2023"},{"working":"0","EL":"8.30","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"12/04/2023"},{"working":"0","EL":"0","SL":"8.30","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"13/04/2023"},{"working":"0","EL":"0","SL":"0","touring":"8.30","wfh":"0","unpaid":"0","holiday":"0","date":"14/04/2023"},{"working":"0","EL":"0","SL":"0","touring":"0","wfh":"8.30","unpaid":"0","holiday":"0","date":"15/04/2023"},{"working":"0","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"8.30","holiday":"0","date":"16/04/2023"},{"working":"0","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"8.30","date":"17/04/2023"},{"working":"8.30","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"18/04/2023"},{"working":"0","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"19/04/2023"},{"working":"0","EL":"0","SL":"0","touring":"8.30","wfh":"0","unpaid":"0","holiday":"0","date":"20/04/2023"},{"working":"0","EL":"0","SL":"8.30","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"21/04/2023"},{"working":"8.30","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"22/04/2023"},{"working":"8.30","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"23/04/2023"},{"working":"8.30","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"24/04/2023"},{"working":"8.30","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"25/04/2023"},{"working":"8.30","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"26/04/2023"},{"working":"8.30","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"27/04/2023"},{"working":"0","EL":"8.30","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"28/04/2023"},{"working":"0","EL":"0","SL":"4.30","touring":"4.30","wfh":"0","unpaid":"0","holiday":"0","date":"29/04/2023"},{"working":"8.30","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"0","date":"30/04/2023"},{"working":"0","EL":"0","SL":"0","touring":"0","wfh":"0","unpaid":"0","holiday":"8.30","date":"31/04/2023"}]}`;
        var viewData = JSON.parse(JSONdata).data;
        for (var i = 0; i < viewData.length; i++) {
            working = viewData[i].working;
            EL = viewData[i].EL;
            SL = viewData[i].SL;
            touring = viewData[i].touring;
            wfh = viewData[i].wfh;
            unpaid = viewData[i].unpaid;
            holiday = viewData[i].holiday;
            date = viewData[i].date;
            arry.push({ working, EL, SL, touring, wfh, unpaid, holiday, date });
        }
        stackChart("StackparentDiv", "childStack", arry, "300", "100%");
    };
</script>